.DS_Store
Library
Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
*.apk
*.exe
*.mdb
*.zip
*.unitypackage
plugin-test/*.dll
funapi-plugin-unity/Data
funapi-plugin-unity/Assets/UnityVS/
funapi-plugin-unity/.vs/
funapi-plugin-unity/Assets/UnityVS.meta
funapi-plugin-unity/obj
