.DS_Store
Library
Temp
*.userprefs
*.unityproj
*.csproj
*.sln
*.pidb
*.apk
*.exe
*.mdb
*.zip
*.prefab
*.prefab.meta
*.unitypackage
plugin-test/*.dll
funapi-plugin-unity/Data/
funapi-plugin-unity/obj/
vs2015/funapi-plugin/bin/
vs2015/funapi-plugin/obj/
vs2015/funapi-plugin-tester/bin/
vs2015/funapi-plugin-tester/obj/
