.DS_Store
Library
Temp
*.userprefs
*.unityproj
*.pidb
*.apk
*.exe
*.mdb
*.zip
*.prefab
*.prefab.meta
*.unitypackage
funapi-plugin-unity/Assets/UnityVS/
funapi-plugin-unity/Data/
funapi-plugin-unity/output/
funapi-plugin-unity/*.sln
funapi-plugin-unity/*.csproj
csharp-samples/Linux/*.dll
obj/
bin/
